<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="mybatis.auto.mapper.ActionNodeMapper" >
  <resultMap id="BaseResultMap" type="mybatis.auto.model.ActionNode" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="pid" property="pid" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="url" property="url" jdbcType="VARCHAR" />
    <result column="level" property="level" jdbcType="TINYINT" />
    <result column="icon_class" property="iconClass" jdbcType="VARCHAR" />
    <result column="sort_id" property="sortId" jdbcType="INTEGER" />
    <result column="is_menu" property="isMenu" jdbcType="TINYINT" />
    <result column="is_show" property="isShow" jdbcType="TINYINT" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, pid, name, url, level, icon_class, sort_id, is_menu, is_show
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from x_action_node
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from x_action_node
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="mybatis.auto.model.ActionNode" >
    insert into x_action_node (id, pid, name, 
      url, level, icon_class, 
      sort_id, is_menu, is_show
      )
    values (#{id,jdbcType=INTEGER}, #{pid,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, 
      #{url,jdbcType=VARCHAR}, #{level,jdbcType=TINYINT}, #{iconClass,jdbcType=VARCHAR}, 
      #{sortId,jdbcType=INTEGER}, #{isMenu,jdbcType=TINYINT}, #{isShow,jdbcType=TINYINT}
      )
  </insert>
  <insert id="insertSelective" parameterType="mybatis.auto.model.ActionNode" >
    insert into x_action_node
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="pid != null" >
        pid,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="url != null" >
        url,
      </if>
      <if test="level != null" >
        level,
      </if>
      <if test="iconClass != null" >
        icon_class,
      </if>
      <if test="sortId != null" >
        sort_id,
      </if>
      <if test="isMenu != null" >
        is_menu,
      </if>
      <if test="isShow != null" >
        is_show,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="pid != null" >
        #{pid,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="url != null" >
        #{url,jdbcType=VARCHAR},
      </if>
      <if test="level != null" >
        #{level,jdbcType=TINYINT},
      </if>
      <if test="iconClass != null" >
        #{iconClass,jdbcType=VARCHAR},
      </if>
      <if test="sortId != null" >
        #{sortId,jdbcType=INTEGER},
      </if>
      <if test="isMenu != null" >
        #{isMenu,jdbcType=TINYINT},
      </if>
      <if test="isShow != null" >
        #{isShow,jdbcType=TINYINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="mybatis.auto.model.ActionNode" >
    update x_action_node
    <set >
      <if test="pid != null" >
        pid = #{pid,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="url != null" >
        url = #{url,jdbcType=VARCHAR},
      </if>
      <if test="level != null" >
        level = #{level,jdbcType=TINYINT},
      </if>
      <if test="iconClass != null" >
        icon_class = #{iconClass,jdbcType=VARCHAR},
      </if>
      <if test="sortId != null" >
        sort_id = #{sortId,jdbcType=INTEGER},
      </if>
      <if test="isMenu != null" >
        is_menu = #{isMenu,jdbcType=TINYINT},
      </if>
      <if test="isShow != null" >
        is_show = #{isShow,jdbcType=TINYINT},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="mybatis.auto.model.ActionNode" >
    update x_action_node
    set pid = #{pid,jdbcType=INTEGER},
      name = #{name,jdbcType=VARCHAR},
      url = #{url,jdbcType=VARCHAR},
      level = #{level,jdbcType=TINYINT},
      icon_class = #{iconClass,jdbcType=VARCHAR},
      sort_id = #{sortId,jdbcType=INTEGER},
      is_menu = #{isMenu,jdbcType=TINYINT},
      is_show = #{isShow,jdbcType=TINYINT}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>