<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mybatis.auto.mapper.UserAllMapper">
  <resultMap id="BaseResultMap" type="mybatis.auto.model.UserAll">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="uid" jdbcType="INTEGER" property="uid" />
    <result column="all_id" jdbcType="INTEGER" property="allId" />
    <result column="type" jdbcType="TINYINT" property="type" />
    <result column="add_time" jdbcType="INTEGER" property="addTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, uid, all_id, type, add_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from x_user_all
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from x_user_all
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="mybatis.auto.model.UserAll">
    insert into x_user_all (id, uid, all_id, 
      type, add_time)
    values (#{id,jdbcType=INTEGER}, #{uid,jdbcType=INTEGER}, #{allId,jdbcType=INTEGER}, 
      #{type,jdbcType=TINYINT}, #{addTime,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="mybatis.auto.model.UserAll">
    insert into x_user_all
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="uid != null">
        uid,
      </if>
      <if test="allId != null">
        all_id,
      </if>
      <if test="type != null">
        type,
      </if>
      <if test="addTime != null">
        add_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="uid != null">
        #{uid,jdbcType=INTEGER},
      </if>
      <if test="allId != null">
        #{allId,jdbcType=INTEGER},
      </if>
      <if test="type != null">
        #{type,jdbcType=TINYINT},
      </if>
      <if test="addTime != null">
        #{addTime,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="mybatis.auto.model.UserAll">
    update x_user_all
    <set>
      <if test="uid != null">
        uid = #{uid,jdbcType=INTEGER},
      </if>
      <if test="allId != null">
        all_id = #{allId,jdbcType=INTEGER},
      </if>
      <if test="type != null">
        type = #{type,jdbcType=TINYINT},
      </if>
      <if test="addTime != null">
        add_time = #{addTime,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="mybatis.auto.model.UserAll">
    update x_user_all
    set uid = #{uid,jdbcType=INTEGER},
      all_id = #{allId,jdbcType=INTEGER},
      type = #{type,jdbcType=TINYINT},
      add_time = #{addTime,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <resultMap id="BaseResultMap" type="mybatis.auto.model.UserAll">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="uid" jdbcType="INTEGER" property="uid" />
    <result column="all_id" jdbcType="INTEGER" property="allId" />
    <result column="type" jdbcType="TINYINT" property="type" />
    <result column="add_time" jdbcType="INTEGER" property="addTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, uid, all_id, type, add_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from x_user_all
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from x_user_all
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="mybatis.auto.model.UserAll">
    insert into x_user_all (id, uid, all_id, 
      type, add_time)
    values (#{id,jdbcType=INTEGER}, #{uid,jdbcType=INTEGER}, #{allId,jdbcType=INTEGER}, 
      #{type,jdbcType=TINYINT}, #{addTime,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="mybatis.auto.model.UserAll">
    insert into x_user_all
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="uid != null">
        uid,
      </if>
      <if test="allId != null">
        all_id,
      </if>
      <if test="type != null">
        type,
      </if>
      <if test="addTime != null">
        add_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="uid != null">
        #{uid,jdbcType=INTEGER},
      </if>
      <if test="allId != null">
        #{allId,jdbcType=INTEGER},
      </if>
      <if test="type != null">
        #{type,jdbcType=TINYINT},
      </if>
      <if test="addTime != null">
        #{addTime,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="mybatis.auto.model.UserAll">
    update x_user_all
    <set>
      <if test="uid != null">
        uid = #{uid,jdbcType=INTEGER},
      </if>
      <if test="allId != null">
        all_id = #{allId,jdbcType=INTEGER},
      </if>
      <if test="type != null">
        type = #{type,jdbcType=TINYINT},
      </if>
      <if test="addTime != null">
        add_time = #{addTime,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="mybatis.auto.model.UserAll">
    update x_user_all
    set uid = #{uid,jdbcType=INTEGER},
      all_id = #{allId,jdbcType=INTEGER},
      type = #{type,jdbcType=TINYINT},
      add_time = #{addTime,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>